<div class="main">
    <div class="title-container">
        <p class="title">Formation</p>
    </div>
    <div class="article-container">
        <div class="text">
            <h2>Lycée Jean moulin</h2>
            <p>
                2nde Générale <br>
                1ère Générale (Math, NSI, SI) <br>
                Terminale Genérale (Math, NSI)
            </p>
        </div>
        <div class="image">
            <img src="assets/jean-moulin.jpg" alt="Description de l'image">
        </div>
    </div>
    <div class="article-container reverse">
        <div class="text">
            <h2>Université du Mans</h2>
            <p>
                Licence 1ère année STAPS
            </p>
        </div>
        <div class="image">
            <img src="assets/univ-le-mans.png" alt="Description de l'image">
        </div>
    </div>
    <div class="article-container">
        <div class="text">
            <h2>BTS SIO Lycée Chevrollier</h2>
            <p>
                1ère année option SLAM <br>
                2ème année option SLAM
            </p>
        </div>
        <div class="image">
            <img src="assets/chevrollier.jpeg" alt="Description de l'image">
        </div>
    </div>
</div>
