<div class="main">
    <div class="title-container">
        <p class="title">Expériences</p>
    </div>
    <div class="article-container">
        <div class="text">
            <h2>Stage de 1ère année <br>de BTS</h2> <br>
            <p>
                Entreprise: Informatique Caisse
                Des Depots <br>
                20 Juin 2024 - 12 Juillet 2024
            </p>
            <p>Projet: réécriture complète d'une vieille application. <br>
                (Langage cobol vers Angular et Java Sprint boot) <br> <br>
                Langages et technologies: <br>
                - Angular <br>
                - HTML / CSS / TS
            </p>
        </div>
        <div class="image">
            <img src="assets/caisse-des-depots.jpg" alt="ICDC">
        </div>
    </div>
</div>

