<mat-toolbar>
  <mat-toolbar-row>
    <div class="main">
      <div class="main__title-box">
        <a class="title" routerLink="">Portfolio</a>
      </div>
      <div class="main__menu-box">
        <a mat-button routerLink="/education" routerLinkActive="active">
          <p>Formation</p>
        </a>
        <a mat-button routerLink="/skills" routerLinkActive="active">
          <p>Compétences</p>
        </a>
        <a mat-button routerLink="/experiences" routerLinkActive="active">
          <p>Expériences</p>
        </a>
      </div>
    </div>
    <span class="example-spacer"></span>
    <p class="name">Thibaut Micetic</p>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>